<!DOCTYPE html>
<html>
<head>
    <title>Professional Signup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">       

</head>
<body>
    <h1>Professional Signup</h1>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <form action = "\professional\signup" method="POST" enctype="multipart/form-data">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
 
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        
        
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" required><br><br>
        
        
        <label for="phone">Phone number:</label><br>
        <input type="text" id="phone" name="phone" required><br><br>

        <label for="service">Service:</label><br>
        <select id="service" name="service" required>
            <option value="" disabled selected>Select a service</option>
            {% for service in services %}
                <option value="{{ service.service_id }}">{{ service.name }}</option>
            {% endfor %}
        </select><br><br>

        <label for="experience">Experience (in years):</label><br>
        <input type="number" id="experience" name="experience" min="0" required><br><br>

        <label for="proof">Upload Proof:</label>
        <input type="file" name="proof" id="proof" required>
        <br><br>

        <button type="submit">Signup</button>
        &nbsp;&nbsp;&nbsp;&nbsp;         
        
    </form>
    <p>Already have an account? <a href="\professional\login">Login here</a></p>
    
    <button onclick="location.href='/'">Back</button>

</body>
</html>
